/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$default_color: #717171;

$base_font_size: 18px;
@function pixel_to_em($pixel, $context:$base_font_size){
  @return ($pixel/$context) * 1em;
}


/* Base Styles (HTML Selectors) */
h1{
  font-family: sans-serif;
  font-size: pixel_to_em(24px);
  font-weight: 700;
  text-align: center;
  color: $default_color;
  margin-top: pixel_to_em(30px);
}

/*Modular Styles(Classes)*/
table{
  font-size: pixel_to_em(18px);
  text-align: left;
  color: $default_color;
  margin: pixel_to_em(40px) 0;
  margin-left: pixel_to_em(125px);
  width: pixel_to_em(300px);
  tbody{
    td{
    padding: pixel_to_em(10px) 0;
    }
  }
  a{
    font-family: sans-serif;
    font-size: pixel_to_em(16px);
    width: pixel_to_em(200px);
    background-color: #ffce7f;
    border: none;
    border-radius: pixel_to_em(5px);
    padding: pixel_to_em(8px);
    text-decoration: none;
    color: black
  }
}
td.restaurants{
  font-weight: 700;
  padding-top: pixel_to_em(35px);
  width: 33%;
}

.login_btn{
  text-align: center;
  width: pixel_to_em(250px);
  background-color: #7dcece;
  padding: pixel_to_em(10px) 0;
  margin: pixel_to_em(125px) pixel_to_em(89px);
  a{
    text-decoration: none;
    color: black;
  }
}

.inputs{
  margin-left:pixel_to_em(67px);
  margin-bottom: pixel_to_em(40px);
  margin-top: pixel_to_em(40px);
  width: pixel_to_em(300px);
  li{
    label{
      display: block;
      margin: pixel_to_em(5px) 0;
      color: $default_color;
    }
    input{
      border: none;
      border-bottom: #ffce7f solid thin ;
      width: pixel_to_em(315px);
    }
  }
}

.actions{
  text-align: center;
  padding-bottom: pixel_to_em(50px);
  input{
    width: pixel_to_em(250px);
    background-color: #ffce7f;
    border: none;
    border-radius: pixel_to_em(5px);
    padding: pixel_to_em(8px);
  }
  a{
    text-decoration: none;
    color: black;
    width: pixel_to_em(250px);
    background-color: #7dcece;
    border-radius: pixel_to_em(5px);
    padding: pixel_to_em(10px) pixel_to_em(15px);
  }
}

.logout{
  a{
    width: 15%;
    position: absolute;
    top: pixel_to_em(65px);
    left: pixel_to_em(25px);
  }
}

.showview{
  border: pixel_to_em(1px) solid black;
  margin: pixel_to_em(20px);
  padding: 5% 5% 20% 2%;
  h2{
    font-family: sans-serif;
    font-size: pixel_to_em(24px);
    font-weight: 700;
    text-align: center;
    color: #717171;
  }
  ul{
    padding-top: 10%;
    display: grid;
    grid-template-columns: 60%;
    grid-template-rows: auto;
    grid-row-gap: 20%;
    grid-template-areas:
      "img cost"
      "img type"
      "img moods"
      "address address";
    p{
      display: inline;
      float: left;
      color: #717171;
    }
    p:first-child{
      width: 66.66%;
    }
    p:last-child{
      width: 33.33%;
    }
    .cost{
      grid-area: cost;
    }
    .type{
      grid-area: type;
    }
    .moods{
      grid-area: moods;
    }
    .address{
      grid-area: address;
      justify-self: center;
    }
  }
  img{
    grid-area: img;
    width: pixel_to_em(150px);
  }
}

/*State Styles(Media queries, JS)*/
@media (min-width: pixel_to_em(1000px)){
  h1{
    margin-top: pixel_to_em(15px);
    font-size: pixel_to_em(36px);
  }
  table{
    margin-left: 33%;
    width: 40%;
    .restaurants{
      padding-top: pixel_to_em(55px);
      padding-bottom: pixel_to_em(35px);
    }
    a{
      padding-left: pixel_to_em(25px);
      padding-right: pixel_to_em(25px);
    }
  }
  .login_title{
    margin-top:pixel_to_em(60px);
    font-size: pixel_to_em(48px);
  }
  .login_btn{
    margin-left: 40%;
    margin-top: pixel_to_em(200px);
  }
  .inputs{
    margin: auto;
    width: 30%;
    li{
      margin: pixel_to_em(40px) 0;
      label{
        font-weight: 700;
        font-size: pixel_to_em(19px);
      }
      input{
        width: pixel_to_em(555px);
      }
    }
  }
  .actions{
    text-align: center;
    input{
      padding: pixel_to_em(12px);
    }
  }

  .logout{
    a{
      width: 10%;
      position: absolute;
      top: pixel_to_em(65px);
      left: pixel_to_em(100px);
    }
  }

  .showview{
    margin: 50px 250px 0px 250px;
    padding: 5% 12% 10% 12%;
    h2{
      font-size: pixel_to_em(36px);
    }
    ul{
      p{
        font-size: pixel_to_em(24px);
      }
    }
    img{
      width: 60%;
    }
  }
  footer{
    padding-top: 70px;
  }
}
