/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$default_color: #717171;

$base_font_size: 18px;
@function pixel_to_em($pixel, $context:$base_font_size){
  @return ($pixel/$context) * 1em;
}


/* Base Styles (HTML Selectors) */
h1{
  font-family: sans-serif;
  font-size: pixel_to_em(24px);
  font-weight: 700;
  text-align: center;
  color: $default_color;
  margin-top: pixel_to_em(30px);
}

/*Modular Styles(Classes)*/
.login_btn{
  text-align: center;
  width: pixel_to_em(250px);
  background-color: #a1a1a1;
  padding: pixel_to_em(10px) 0;
  margin: pixel_to_em(125px) pixel_to_em(89px);
  a{
    text-decoration: none;
    color: black;
  }
}

.inputs{
  margin-left:pixel_to_em(67px);
  margin-bottom: pixel_to_em(40px);
  margin-top: pixel_to_em(40px);
  width: pixel_to_em(300px);
  li{
    label{
      display: block;
      margin: pixel_to_em(5px) 0;
      color: $default_color;
    }
    input{
      border: none;
      border-bottom: #ffce7f solid thin ;
      width: pixel_to_em(315px);
    }
  }
}

.actions{
  text-align: center;
  input{
    width: pixel_to_em(250px);
    background-color: #ffce7f;
    border: none;
    border-radius: pixel_to_em(5px);
    padding: pixel_to_em(8px);
  }
  a{
    text-decoration: none;
    color: black;
    width: pixel_to_em(250px);
    background-color: #7dcece;
    border-radius: pixel_to_em(5px);
    padding: pixel_to_em(10px) pixel_to_em(15px);
  }
}

.back_btn{
  position: relative;
  bottom:  pixel_to_em(53px);
  a{
    text-decoration: none;
    color: black;
    padding: pixel_to_em(5px) pixel_to_em(20px);
    background-color: #7dcece;
  }
}

/*State Styles(Media queries, JS)*/
@media (min-width: pixel_to_em(1000px)){
  h1{
    margin-top: pixel_to_em(15px);
    font-size: pixel_to_em(36px);
  }
  .login_title{
    margin-top:pixel_to_em(60px);
    font-size: pixel_to_em(48px);
  }
  .login_btn{
    margin-left: pixel_to_em(615px);
    margin-top: pixel_to_em(200px);
    background-color:#7dcece;
  }
  .inputs{
    margin-left:pixel_to_em(465px);
    margin-bottom: pixel_to_em(60px);
    margin-top: pixel_to_em(80px);
    width: pixel_to_em(600px);
    li{
      margin: pixel_to_em(40px) 0;
      label{
        font-weight: 700;
        font-size: pixel_to_em(19px);
      }
      input{
        width: pixel_to_em(555px);
      }
    }
  }
  .actions{
    text-align: center;
    input{
      padding: pixel_to_em(12px);

    }
  }
  .back_btn{
    bottom:  pixel_to_em(35px);
    left: pixel_to_em(200px);
    a{
      padding: pixel_to_em(10px) pixel_to_em(40px);
      border-radius: pixel_to_em(5px);
    }
  }
}

table{
  font-size: pixel_to_em(18px);
  text-align: left;
  color: $default_color;
  margin: pixel_to_em(40px) 0;
  margin-left: pixel_to_em(5px);
  width: pixel_to_em(300px);
  tbody{
    td{
    padding: pixel_to_em(10px) 0;
    }
  }
  a{
    font-family: sans-serif;
    font-size: pixel_to_em(16px);
    width: pixel_to_em(200px);
    background-color: #ffce7f;
    border: none;
    border-radius: pixel_to_em(5px);
    padding: pixel_to_em(8px);
    text-decoration: none;
    color: black
  }
}
td.restaurants{
  font-weight: 700;
  padding-top: pixel_to_em(35px);
}
